body {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, calc(100%/2));
}

nav > * {
    text-align: center;
}

header > * {
    text-align: center;
}

main > p {
    padding: 0 20%;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px)
{
    main > p {
        padding: 0 10%;
    }
}